@font-face {
  font-family: 'Harish Sans';
  src: url('./fonts/harish-sans-v2-regular.woff2') format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: 'Harish Sans';
  src: url('./fonts/harish-sans-v2-medium.woff2') format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: 'Harish Sans';
  src: url('./fonts/harish-sans-v2-extra-bold.woff2') format("woff2");
  font-weight: 900;
}

:root {
  --base-text-color: #000;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  direction: rtl;
  font-size: 20px;
  font-family: 'Harish Sans', sans-serif;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  color: var(--base-text-color);

  #root {
    height: inherit;
  }

  main {
    flex: 1;
    padding: 0 20px 20px 20px;
  }

  h1, h2 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
  }

  h2 {
    font-size: 40px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button, .btn {
    padding: 5px 10px 1px;
    background-color: white;
    border: solid var(--base-text-color);
  }

  button, textarea, select {
    font-family: inherit;
    font-size: inherit;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

}